body, html {
    margin: 0px !important;
}

/*___*/

.goal {
    font-size: 13px;
    font-family: 'CabinetGrotesk-Medium';
    text-transform: capitalize;
}

.back {
    width: 23px;
    position: absolute;
    margin-top: 50px;
    margin-left: 30px;
    opacity: .9;
}

.initial-logo {
    width: 85%;
    margin: 5px;
    box-shadow: 0 5px 7px 0 rgb(0 0 0 / 24%), 0 12px 29px 0 rgb(0 0 0 / 12%);
    border-radius: 50%;
    transition: .3s;
}
.initial-logo:hover {
    transform: scale(1.1);
}

.initial-box {
    display: inline-flex;
    margin-top: 20px;
    padding: 20px;
}

/*___*/

.banner-logo {
    width: 30%;
    margin-top: -463px;
    box-shadow: 0 5px 7px 0 rgb(0 0 0 / 24%), 0 12px 29px 0 rgb(0 0 0 / 12%);
    border-radius: 50%;
}

.banner {
    width: 100%;
    margin-top: 0px;
    margin-bottom: -90px;
}

/*___*/

.player-cap, .player {
    font-family: 'CabinetGrotesk-Bold';
    color: #565555;
    font-size: 18px;
    border-radius: 30px;
    padding: 3px 15px;
    margin: 0 1px;
}

.player-cap {
    border: solid 1px #aaaaaa96;
    background: #e5e3e3bf;
}

.player {
    border: solid 1px #56555538;
    background: #faf9f9;
}

.box-player {
    margin-top: -80px;
}

.second-row {
    margin-top: 12px;
}

/*___*/

.match {
    width: 100% !important;
    margin-top: -110px !important;
    margin-bottom: 25px !important;
}

.second-match {
    width: 80%;
    margin-top: 10px;
}

/*___*/

.box-high, .box-high-player, .box-high-ass {
    text-align: left;
    margin: 15px 40px;
    background: #8a7bc71f;
    border-radius: 20px;
    padding: 20px 30px;
    box-shadow: 0 5px 7px 0 rgba(64, 249, 255, 0.05), 0 12px 29px 0 rgba(15, 71, 213, 0.03);
}

.box-high {
    margin-top: 40px;
}

.box-high-ass {
    box-shadow: 0 5px 7px 0 rgba(64, 255, 252, 0.05), 0 12px 29px 0 rgba(15, 213, 150, 0.03);
    background: #91ada71f;
    margin-bottom: 150px;
}

.box-high-player {
    box-shadow: 0 5px 7px 0 rgb(255 108 64 / 5%), 0 12px 29px 0 rgb(213 15 61 / 3%);
    background: #c77b7b1f;
}

.title-high {
    font-family: 'CabinetGrotesk-Black';
    color: #222222;
    font-size: 35px;
}

.title-high-reg {
    font-family: 'CabinetGrotesk-Regular';
    color: #222222;
    font-size: 25px;
}

.title-high-reg .title-high {
    font-size: 25px;
}

.punti {
    font-family: 'CabinetGrotesk-Black';
    color: #222222;
    font-size: 20px;
}

.squadra-top {
    font-family: 'CabinetGrotesk-Bold';
    color: #222222;
    font-size: 18px;
}

.squadra {
    font-family: 'CabinetGrotesk-Regular';
    color: #222222;
    font-size: 18px;
}

.pos, .pos-active, .pos-last {
    display: flex;
    border-radius: 100px;
    justify-content: space-between;
    padding: 5px 15px;
    margin-top: 5px;
    border-radius: 100px;
}

.pos {
    background: #ed8b0059;
}

.pos:nth-last-child(-n+2) {
    background: #ffd93f63;
}

.pos:first-child {
    background: #d700004d !important;
    margin-top: 15px;
    transform: scale(1.07);
}
.pos:first-child .squadra {
    font-family: 'CabinetGrotesk-Extrabold';
}
.pos:nth-child(2) {
    transform: scale(1.04);
    margin-top: 6px;
}
.pos:nth-child(4) {
    transform: scale(0.98);
    margin-top: 4px;

}
.pos:nth-child(5) {
    transform: scale(0.94);
    margin-top: 3px;
}


/*___*/

.intro {
    font-family: 'CabinetGrotesk-Regular';
    text-transform: uppercase;
    margin-top: 30px;
}

.intro-box {
    font-size: 11px;
    width: 320px;
    display: inline-flex;
}

/*___*/

.p-img {
    width: 80px;
    padding: 5px;
}

/*___*/

.single-player {
    align-items: center;
    padding: 0px;
    background: #0000000a;
    width: 300px;
    border-radius: 100px;
    margin: 5px 0;
    display: inline-flex;
}
.first .single-player:first-child {
    width: 250px;
}


.player-info {
    padding-left: 10px;
}
.name-player {
    font-family: 'CabinetGrotesk-ExtraBold';
    font-size: 25px;
    text-transform: capitalize;
    color: #000;
}
.role-player {
    font-family: 'CabinetGrotesk-Bold';
    font-size: 13px;
    padding: 2px 10px;
    background: #0000001f;
    border-radius: 30px;
    color: #717171;
    margin-right: 5px;
    text-transform: uppercase;
}

.role-player-naz {
    font-family: 'CabinetGrotesk-Bold';
    font-size: 13px;
    padding: 2px 10px;
    background: #3ec5121f;
    border-radius: 30px;
    color: #4caf50;
    margin-right: 5px;
    text-transform: uppercase;
}


.role-player-active {
    font-family: 'CabinetGrotesk-Bold';
    font-size: 13px;
    padding: 2px 10px;
    background: #c322221f;
    border-radius: 30px;
    color: #cb3939;
    margin-right: 5px;
}

hr {
    background: #000;
    margin: 20px 0px;
    opacity: .2;
}

.info-extra {
    display: inline-grid;
    margin: 5px 0;
}

.single-extra {
    align-items: flex-start !important;
    padding: 0px;
    width: 300px;
    border-radius: 100px;
    margin: 18px 0;
    display: inline-flex !important;
    flex-wrap: nowrap !important;
    flex-direction: column !important;

}

.stats {
    font-size: 20px;
}

.low {
    background: #c125251f;
    width: 20px;
    color: #ad1c1c;
}
.mid {
    background: #afc4231f;
    width: 90px;
    color: #bfbc41;
}
.good {
    background: #25c1171f;
    width: 170px;
    color: #2bb323;
}

.too-g {
    background: #06c6601f;
    width: 230px;
    color: #1c9615;
}

/*___*/

@media screen and  (min-width: 410px) {
    .player-cap, .player {
        font-size: 20px;
    }
}

@media screen and (max-width: 300px) {
    .box-player {
        margin-top: -55px;
    }
    .player-cap, .player {
        font-size: 15px;
    }
    .back {
        width: 20px;
        position: absolute;
        margin-top: 40px;
        margin-left: 20px;
    }
    .box-high, .box-high-player, .box-high-ass {
        margin: 15px 20px;
    }
}


#container {
    text-align: center;
}

#formation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
}

.player {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    padding: 0px;
    background: #0000000a;
    width: 140px;
    border-radius: 100px;
    font-family: 'CabinetGrotesk-Bold';
    font-size: 18px;
    color: #717171;
}

.player-card {
    height: 50px;
    display: flex;
    margin: 5px;
    background: #0000000a;
    border-radius: 100px;
    font-family: 'CabinetGrotesk-Bold';
    font-size: 18px;
    color: #717171;
    align-items: center;
    justify-content: center;
}

#playersList {
    display: flex;
    justify-content: center;
    margin: 30px;
    flex-direction: column;
}

button {
    height: 50px;
    margin: 5px;
    background: #000000;
    width: 250px;
    border-radius: 100px;
    font-family: 'CabinetGrotesk-Bold';
    font-size: 18px;
    text-transform: uppercase;
    color: #fdfdfd;
    margin-bottom: 30px;
}

a {
    font-family: 'CabinetGrotesk-Bold';
    color: #000;
    font-size: 16px;
    padding-bottom: 300px;
}

#formationSelect {
    height: 35px;
    width: 120px;
    text-align: center;
    border: 0px;
    background: #0000000a;
    border-radius: 100px;
    font-family: 'CabinetGrotesk-Bold';
    font-size: 16px;
    color: #717171;
    margin-bottom: 20px;
    margin-top: 40px;
}

h1 {
    font-family: 'CabinetGrotesk-ExtraBold';
    line-height: 30px;
    text-align: left;
    padding: 35px;
    font-size: 38px;
}